<app-shared>
  <div class="row mt-2"></div>
  <div class="row mt-5">
    <div class="col-2"></div>
    <div class="col-8">
      <div class="card text-center shadow-lg smooth-edge">
        <div class="card-body">
          <div class="card-text">
            <div class="list-group">
              <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">Rywalizuj z innymi, lub graj spokojnie</h5>
                  <small>Spróbuj!</small>
                </div>
                <p class="mb-1 mt-2">Nie ma potrzeby aby rywalizować z innymi. Bez agresywnej gry również można zyskać. Choć to 
                  rywalizacja napędza zyski.</p>
                <small>Zacznij od jednego autobusu, urośnij w potęgę</small>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-3"></div>
    <div class="col-6">
      <div class="card text-center shadow-lg smooth-edge">
        <div class="card-body">
          <h4 class="card-title">Czy posiadasz już swoje konto?</h4>
          <p class="card-text">
            <a name="" id="" class="btn btn-secondary" [routerLink]="[ '/logowanie' ]" role="button">Zaloguj się</a> /
            <a name="" id="" class="btn btn-primary" [routerLink]="[ '/rejestracja' ]" role="button">Zarejestruj się</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</app-shared>
