body {
    overflow: hidden;
}

.container {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(../../assets/backgrounds/game-background.jpg);
    left: 0;
    top: 0;
}

hr {
    height: 4px;
    border: 1px solid rgba(0,0,0,.1);
    background-color: rgba(0, 0, 0, 0.08);
    border-radius: 15px 15px;
}

.game-container {
    margin: auto;
    width: 71.23%;
    height: 100%;

    margin-top: 30px;
}

.grid-container {
    width: 1080px;
    height: 498px;
    //box-shadow: 10px 10px 10px rgba(0,0,0,.3);

    .grid-element {
        width: 45px;
        height: 45px;
        float: left;
        
        * {
            width: inherit;
            height: inherit;
        }

        margin: 0 0;
        padding: 0 0;
    }
}

.scrollable {
    overflow: auto;
}

.scrollable-x {
    overflow-x: auto;
}

.gui-container {
    height: 100px;
    width: 1060px;
    border: 1px solid rgba(0,0,0,.1);
    padding: 10px;
    background-color: white;
    background-size: cover;
    border-radius: 10px 10px;
}